In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/nyc-taxi-trip-duration/train.zip
/kaggle/input/nyc-taxi-trip-duration/test.zip
/kaggle/input/nyc-taxi-trip-duration/sample_submission.zip

In [4]:
from pathlib import Path
from zipfile import ZipFile

In [7]:
# yeh function zip file ko unzip ketha hao aur 
# output dir may safe kerta hai 

def extract_zip_data(path):
    """
    Extract zipfiles into output directory
    """
    output_path = Path('/kaggle/working/') / 'raw'
    output_path.mkdir(parents=True, exist_ok=True)
    with ZipFile(file=path) as f:
        f.extractall(path=output_path)

In [8]:
# unzip and save in raw directory

extract_zip_data('/kaggle/input/nyc-taxi-trip-duration/train.zip')

In [9]:
# load data

df = pd.read_csv('/kaggle/working/raw/train.csv')

In [21]:
# display first 5 rows of data

df.head()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,2124
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,N,429
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,N,435

In [23]:
# display last 10 rows of data

df.tail(10)

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
1458634,id3445276,1,2016-04-03 13:51:25,2016-04-03 14:07:37,2,-73.989075,40.730465,-73.963882,40.773739,N,972
1458635,id3027038,2,2016-05-19 14:46:55,2016-05-19 14:50:52,1,-73.985390,40.763020,-73.989708,40.767502,N,237
1458636,id0405770,2,2016-02-12 10:13:06,2016-02-12 10:26:26,1,-73.863815,40.769684,-73.864395,40.761326,N,800
1458637,id1920898,1,2016-04-17 18:48:16,2016-04-17 19:00:56,1,-73.975357,40.751705,-73.949478,40.776764,N,760
1458638,id1454193,2,2016-02-02 00:39:39,2016-02-02 00:46:33,5,-73.988823,40.736553,-73.989166,40.757393,N,414
1458639,id2376096,2,2016-04-08 13:31:04,2016-04-08 13:44:02,4,-73.982201,40.745522,-73.994911,40.740170,N,778
1458640,id1049543,1,2016-01-10 07:35:15,2016-01-10 07:46:10,1,-74.000946,40.747379,-73.970184,40.796547,N,655
1458641,id2304944,2,2016-04-22 06:57:41,2016-04-22 07:10:25,1,-73.959129,40.768799,-74.004433,40.707371,N,764
1458642,id2714485,1,2016-01-05 15:56:26,2016-01-05 16:02:39,1,-73.982079,40.749062,-73.974632,40.757107,N,373
1458643,id1209952,1,2016-04-05 14:44:25,2016-04-05 14:47:43,1,-73.979538,40.781750,-73.972809,40.790585,N,198

In [25]:
# display random 10 samples of data

df.sample(10)

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
767203,id3346176,2,2016-03-10 11:46:02,2016-03-10 11:55:05,1,-73.974548,40.762062,-73.983917,40.762314,N,543
411790,id0199020,2,2016-01-08 12:57:17,2016-01-08 13:09:23,1,-73.987411,40.775921,-73.961937,40.763996,N,726
427746,id1777953,2,2016-06-09 06:38:57,2016-06-09 06:51:53,1,-73.960060,40.773457,-73.989342,40.776829,N,776
8760,id2184789,1,2016-06-08 13:47:51,2016-06-08 14:01:43,1,-73.967705,40.766068,-73.953514,40.767292,N,832
204122,id1103802,2,2016-06-22 21:42:13,2016-06-22 21:50:50,1,-73.953598,40.775471,-73.959961,40.758469,N,517
518918,id2551676,1,2016-05-18 21:11:41,2016-05-18 21:24:19,1,-73.978500,40.761806,-73.952904,40.768002,N,758
175995,id3673845,2,2016-01-03 05:47:19,2016-01-03 06:12:50,5,-73.988998,40.759239,-73.874031,40.772999,N,1531
511909,id2822882,2,2016-02-04 08:32:56,2016-02-04 08:36:17,1,-73.961128,40.769009,-73.965828,40.769451,N,201
489616,id0250486,2,2016-05-03 12:59:25,2016-05-03 13:04:43,1,-73.990120,40.714600,-73.981750,40.724361,N,318
1333468,id2248011,2,2016-04-08 22:44:38,2016-04-08 22:56:44,2,-74.002548,40.744820,-73.980431,40.742420,N,726

In [39]:
# display random 10% of samples of data
# random state hamesha same data sample display kerega

df.sample(frac=0.1, random_state=42)

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
67250,id2793718,2,2016-06-08 07:36:19,2016-06-08 07:53:39,1,-73.985611,40.735943,-73.980331,40.760468,N,1040
1397036,id3485529,2,2016-04-03 12:58:11,2016-04-03 13:11:58,1,-73.978394,40.764351,-73.991623,40.749859,N,827
1021087,id1816614,2,2016-06-05 02:49:13,2016-06-05 02:59:27,5,-73.989059,40.744389,-73.973381,40.748692,N,614
951424,id1050851,2,2016-05-05 17:18:27,2016-05-05 17:32:54,2,-73.990326,40.731136,-73.991264,40.748917,N,867
707882,id0140657,1,2016-05-12 17:43:38,2016-05-12 19:06:25,4,-73.789497,40.646675,-73.987137,40.759232,N,4967
...,...,...,...,...,...,...,...,...,...,...,...
208216,id1391889,1,2016-05-29 17:54:19,2016-05-29 18:11:05,2,-73.982521,40.686272,-73.963135,40.688450,N,1006
526279,id1344809,2,2016-06-01 20:00:54,2016-06-01 20:07:29,1,-73.976257,40.757584,-73.973244,40.764671,N,395
80354,id2468889,1,2016-05-14 15:35:54,2016-05-14 15:48:53,3,-73.982079,40.763584,-73.985001,40.739193,N,779
328645,id1590350,2,2016-05-31 20:27:27,2016-05-31 21:06:31,3,-73.782654,40.644440,-73.991669,40.749641,N,2344
657429,id2069199,1,2016-03-21 17:44:38,2016-03-21 17:51:11,1,-73.979637,40.751862,-73.974945,40.758297,N,393

In [15]:
# dataset kay columns ko list ki shakl may display kero

list(df.columns)

['id',
 'vendor_id',
 'pickup_datetime',
 'dropoff_datetime',
 'passenger_count',
 'pickup_longitude',
 'pickup_latitude',
 'dropoff_longitude',
 'dropoff_latitude',
 'store_and_fwd_flag',
 'trip_duration']

In [17]:
df.shape # ---> (rows, cols) 1.45 million

(1458644, 11)

In [40]:
# dataset ka asharaya display kero

df.index

RangeIndex(start=0, stop=1458644, step=1)

In [41]:
# dataset ka khulasa

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1458644 entries, 0 to 1458643
Data columns (total 11 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   id                  1458644 non-null  object
 1   vendor_id           1458644 non-null  int64
 2   pickup_datetime     1458644 non-null  object
 3   dropoff_datetime    1458644 non-null  object
 4   passenger_count     1458644 non-null  int64
 5   pickup_longitude    1458644 non-null  float64
 6   pickup_latitude     1458644 non-null  float64
 7   dropoff_longitude   1458644 non-null  float64
 8   dropoff_latitude    1458644 non-null  float64
 9   store_and_fwd_flag  1458644 non-null  object
 10  trip_duration       1458644 non-null  int64
dtypes: float64(4), int64(3), object(4)
memory usage: 122.4+ MB

In [42]:
# verbose ka matlab taveel hai - is ki value false kernay say information compact (mukhatasr) ho jati hai

df.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1458644 entries, 0 to 1458643
Columns: 11 entries, id to trip_duration
dtypes: float64(4), int64(3), object(4)
memory usage: 122.4+ MB

In [49]:
# statistical summary
# buhut sari numerical columns ki information app ko provide kerta hai describe()

df.describe().T

,count,mean,std,min,25%,50%,75%,max
vendor_id,1458644.0,1.534950,0.498777,1.000000,1.000000,2.000000,2.000000,2.000000e+00
passenger_count,1458644.0,1.664530,1.314242,0.000000,1.000000,1.000000,2.000000,9.000000e+00
pickup_longitude,1458644.0,-73.973486,0.070902,-121.933342,-73.991867,-73.981743,-73.967331,-6.133553e+01
pickup_latitude,1458644.0,40.750921,0.032881,34.359695,40.737347,40.754101,40.768360,5.188108e+01
dropoff_longitude,1458644.0,-73.973416,0.070643,-121.933304,-73.991325,-73.979752,-73.963013,-6.133553e+01
dropoff_latitude,1458644.0,40.751800,0.035891,32.181141,40.735885,40.754524,40.769810,4.392103e+01
trip_duration,1458644.0,959.492273,5237.431724,1.000000,397.000000,662.000000,1075.000000,3.526282e+06

In [55]:
# kisi aik column per bhi app apply ker saktey ho

df[['passenger_count']].describe()

       passenger_count
count     1.458644e+06
mean      1.664530e+00
std       1.314242e+00
min       0.000000e+00
25%       1.000000e+00
50%       1.000000e+00
75%       2.000000e+00
max       9.000000e+00

In [56]:
# column ki unique values ka count nikalta hai
# yeh buhut ziya use hota hai.

df[['passenger_count']].value_counts()

passenger_count
1                  1033540
2                   210318
5                    78088
3                    59896
6                    48333
4                    28404
0                       60
7                        3
8                        1
9                        1
Name: count, dtype: int64

In [59]:
# Dataset ka shape, length or size

df.shape, len(df), df.size

((1458644, 11), 1458644, 16045084)

In [62]:
df[['passenger_count', 'trip_duration']]

         passenger_count  trip_duration
0                      1            455
1                      1            663
2                      1           2124
3                      1            429
4                      1            435
...                  ...            ...
1458639                4            778
1458640                1            655
1458641                1            764
1458642                1            373
1458643                1            198

[1458644 rows x 2 columns]

In [63]:
df.head()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,2124
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,N,429
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,N,435

In [67]:
# slicing - first 5 columns names uthao

df.columns[:5]

Index(['id', 'vendor_id', 'pickup_datetime', 'dropoff_datetime',
       'passenger_count'],
      dtype='object')

In [66]:
# pehli 5 columns ka data display uthao

df[columns]

# Dosra tareeka

df[['id', 'vendor_id', 'pickup_datetime', 'dropoff_datetime',

    'passenger_count']]

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1
...,...,...,...,...,...
1458639,id2376096,2,2016-04-08 13:31:04,2016-04-08 13:44:02,4
1458640,id1049543,1,2016-01-10 07:35:15,2016-01-10 07:46:10,1
1458641,id2304944,2,2016-04-22 06:57:41,2016-04-22 07:10:25,1
1458642,id2714485,1,2016-01-05 15:56:26,2016-01-05 16:02:39,1
1458643,id1209952,1,2016-04-05 14:44:25,2016-04-05 14:47:43,1

In [69]:
# sirf 3 columns ka data uthao

df[['dropoff_datetime', 'dropoff_longitude', 'dropoff_latitude']]

            dropoff_datetime  dropoff_longitude  dropoff_latitude
0        2016-03-14 17:32:30         -73.964630         40.765602
1        2016-06-12 00:54:38         -73.999481         40.731152
2        2016-01-19 12:10:48         -74.005333         40.710087
3        2016-04-06 19:39:40         -74.012268         40.706718
4        2016-03-26 13:38:10         -73.972923         40.782520
...                      ...                ...               ...
1458639  2016-04-08 13:44:02         -73.994911         40.740170
1458640  2016-01-10 07:46:10         -73.970184         40.796547
1458641  2016-04-22 07:10:25         -74.004433         40.707371
1458642  2016-01-05 16:02:39         -73.974632         40.757107
1458643  2016-04-05 14:47:43         -73.972809         40.790585

[1458644 rows x 3 columns]

In [73]:
# wo columns ka naam uthao jin me 'dropoff' likha howa ho

# pehla tareeka

for col in df.columns:
    if 'dropoff' in col:
        print(col)

dropoff_datetime
dropoff_longitude
dropoff_latitude

In [70]:
# dosra tareeka - list comprehension ka zariye

df[[col for col in df.columns if 'dropoff' in col]]

            dropoff_datetime  dropoff_longitude  dropoff_latitude
0        2016-03-14 17:32:30         -73.964630         40.765602
1        2016-06-12 00:54:38         -73.999481         40.731152
2        2016-01-19 12:10:48         -74.005333         40.710087
3        2016-04-06 19:39:40         -74.012268         40.706718
4        2016-03-26 13:38:10         -73.972923         40.782520
...                      ...                ...               ...
1458639  2016-04-08 13:44:02         -73.994911         40.740170
1458640  2016-01-10 07:46:10         -73.970184         40.796547
1458641  2016-04-22 07:10:25         -74.004433         40.707371
1458642  2016-01-05 16:02:39         -73.974632         40.757107
1458643  2016-04-05 14:47:43         -73.972809         40.790585

[1458644 rows x 3 columns]

In [75]:
# sirf float wali columns ko display kero

df.select_dtypes('float')

,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude
0,-73.982155,40.767937,-73.964630,40.765602
1,-73.980415,40.738564,-73.999481,40.731152
2,-73.979027,40.763939,-74.005333,40.710087
3,-74.010040,40.719971,-74.012268,40.706718
4,-73.973053,40.793209,-73.972923,40.782520
...,...,...,...,...
1458639,-73.982201,40.745522,-73.994911,40.740170
1458640,-74.000946,40.747379,-73.970184,40.796547
1458641,-73.959129,40.768799,-74.004433,40.707371
1458642,-73.982079,40.749062,-73.974632,40.757107
1458643,-73.979538,40.781750,-73.972809,40.790585

In [78]:
# passenger_count ka datatype check kerna

df['passenger_count'].dtype

dtype('int64')

In [80]:
# loc and iloc - filter data based rows - location 

# iloc - based on index location 
# loc  - based on names 

df.loc[:, 'pickup_longitude']

0         -73.982155
1         -73.980415
2         -73.979027
3         -74.010040
4         -73.973053
             ...
1458639   -73.982201
1458640   -74.000946
1458641   -73.959129
1458642   -73.982079
1458643   -73.979538
Name: pickup_longitude, Length: 1458644, dtype: float64

In [89]:
# Sari rows uthao lekin sirf trip_duration ki

df.loc[:, ['trip_duration']]

         trip_duration
0                  455
1                  663
2                 2124
3                  429
4                  435
...                ...
1458639            778
1458640            655
1458641            764
1458642            373
1458643            198

[1458644 rows x 1 columns]

In [88]:
# dataset ka adhaa hissey say agay ka sara data uthao sirf 2 columns ka

df.loc[len(df)/2:, ['pickup_longitude', 'trip_duration']]

         pickup_longitude  trip_duration
729322         -73.994370            572
729323         -73.986412            307
729324         -73.977463              4
729325         -73.982010            724
729326         -73.995293            544
...                   ...            ...
1458639        -73.982201            778
1458640        -74.000946            655
1458641        -73.959129            764
1458642        -73.982079            373
1458643        -73.979538            198

[729322 rows x 2 columns]

In [91]:
# iloc - dosri row aur 3rd column ka data 

df.iloc[1, 3]

'2016-06-12 00:54:38'

In [92]:
# Pehli 5 rows tak ka data aur pehli 5 columns tak ka data

df.iloc[:5, :5]

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1

In [93]:
# Akhri 5 rows tak ka data aur Akri 5 columns tak ka data


df.iloc[:5, 5:]

,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
0,-73.982155,40.767937,-73.964630,40.765602,N,455
1,-73.980415,40.738564,-73.999481,40.731152,N,663
2,-73.979027,40.763939,-74.005333,40.710087,N,2124
3,-74.010040,40.719971,-74.012268,40.706718,N,429
4,-73.973053,40.793209,-73.972923,40.782520,N,435

In [99]:
# 7th row ko select karta hai kyun ke indexing 0 se shuru hoti hai.

df.iloc[[6]]

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
6,id1813257,1,2016-06-17 22:34:59,2016-06-17 22:40:40,4,-73.969017,40.757839,-73.957405,40.765896,N,341

In [100]:
# sari rows uthao lekin 5th and 6th columns ka

df.iloc[:, [5, 6]]

         pickup_longitude  pickup_latitude
0              -73.982155        40.767937
1              -73.980415        40.738564
2              -73.979027        40.763939
3              -74.010040        40.719971
4              -73.973053        40.793209
...                   ...              ...
1458639        -73.982201        40.745522
1458640        -74.000946        40.747379
1458641        -73.959129        40.768799
1458642        -73.982079        40.749062
1458643        -73.979538        40.781750

[1458644 rows x 2 columns]

In [107]:
# satistical summary trip duration

df['trip_duration'].describe()

count    1.458644e+06
mean     9.594923e+02
std      5.237432e+03
min      1.000000e+00
25%      3.970000e+02
50%      6.620000e+02
75%      1.075000e+03
max      3.526282e+06
Name: trip_duration, dtype: float64

In [106]:
# satistical summary trip duration kay zariye maxmimum value

df['trip_duration'].describe()['max']

3526282.0

In [109]:
# feature engineering - yani extra meaningful columns add ker existing data ki base per 
# data ko seconds say minutes may convert kerna

df['trip_duration_mins'] = df['trip_duration'] / 60

In [110]:
df.head()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,trip_duration_mins
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455,7.583333
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663,11.050000
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,2124,35.400000
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,N,429,7.150000
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,N,435,7.250000

In [111]:
# panda ka max function

df["trip_duration_mins"].max()

58771.36666666667

In [112]:
# feature engineering
# data ko seconds say hours may convert kerna

df['trip_duration_hrs'] = df['trip_duration'] / 60 / 60

In [113]:
df.head()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,trip_duration_mins,trip_duration_hrs
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455,7.583333,0.126389
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663,11.050000,0.184167
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,2124,35.400000,0.590000
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,N,429,7.150000,0.119167
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,N,435,7.250000,0.120833

In [114]:
# aik taxi ki ride 979 hours ki insight

df['trip_duration_hrs'].max() # outlier

979.5227777777778

In [119]:
# taxi ki ride ka mean value

df['trip_duration_hrs'].mean()

0.2665256313778794

In [120]:
# # taxi ki ride ka max value

df['trip_duration_hrs'].min()

0.0002777777777777778

In [118]:
# trip duration hours

df['trip_duration_hrs'].describe()

count    1.458644e+06
mean     2.665256e-01
std      1.454842e+00
min      2.777778e-04
25%      1.102778e-01
50%      1.838889e-01
75%      2.986111e-01
max      9.795228e+02
Name: trip_duration_hrs, dtype: float64

In [123]:
# boolean indexing

df[df['trip_duration_hrs'] > 24]

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,trip_duration_mins,trip_duration_hrs
355003,id1864733,1,2016-01-05 00:19:42,2016-01-27 11:08:38,1,-73.789650,40.643559,-73.956810,40.773087,N,1939736,32328.933333,538.815556
680594,id0369307,1,2016-02-13 22:38:00,2016-03-08 15:57:38,2,-73.921677,40.735252,-73.984749,40.759979,N,2049578,34159.633333,569.327222
924150,id1325766,1,2016-01-05 06:14:15,2016-01-31 01:01:07,1,-73.983788,40.742325,-73.985489,40.727676,N,2227612,37126.866667,618.781111
978383,id0053347,1,2016-02-13 22:46:52,2016-03-25 18:18:14,1,-73.783905,40.648632,-73.978271,40.750202,N,3526282,58771.366667,979.522778

In [124]:
# passenger count is unique values

df['passenger_count'].unique()

array([1, 6, 4, 2, 3, 5, 0, 7, 9, 8])

In [126]:
# boolean indexing - un rows ko filter karti hai jahan 'passenger_count' 7 ya us se zyada hai.

df[df['passenger_count'] >= 7]

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,trip_duration_mins,trip_duration_hrs
433304,id3280610,2,2016-06-07 10:06:24,2016-06-07 10:06:43,7,-74.173668,40.737274,-74.173660,40.737297,N,19,0.316667,0.005278
436047,id2489742,2,2016-06-24 08:09:21,2016-06-24 08:18:41,9,-73.710632,40.671581,-73.710632,40.671581,N,560,9.333333,0.155556
489613,id0506488,2,2016-05-08 22:39:08,2016-05-08 22:39:23,7,-74.039482,40.715031,-74.039482,40.715019,N,15,0.250000,0.004167
824904,id0988237,2,2016-04-23 19:46:08,2016-04-23 19:46:33,7,-73.631149,40.768551,-73.631149,40.768551,N,25,0.416667,0.006944
826064,id1488553,2,2016-01-01 01:15:20,2016-01-01 01:17:04,8,-73.992653,40.768719,-74.041374,40.729954,N,104,1.733333,0.028889

In [127]:
# boolean indexing - loc user ker ke un rows ko filter karti hai jahan 'passenger_count' 7 ya us se zyada hai.

df.loc[df['passenger_count'] >= 7]

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,trip_duration_mins,trip_duration_hrs
433304,id3280610,2,2016-06-07 10:06:24,2016-06-07 10:06:43,7,-74.173668,40.737274,-74.173660,40.737297,N,19,0.316667,0.005278
436047,id2489742,2,2016-06-24 08:09:21,2016-06-24 08:18:41,9,-73.710632,40.671581,-73.710632,40.671581,N,560,9.333333,0.155556
489613,id0506488,2,2016-05-08 22:39:08,2016-05-08 22:39:23,7,-74.039482,40.715031,-74.039482,40.715019,N,15,0.250000,0.004167
824904,id0988237,2,2016-04-23 19:46:08,2016-04-23 19:46:33,7,-73.631149,40.768551,-73.631149,40.768551,N,25,0.416667,0.006944
826064,id1488553,2,2016-01-01 01:15:20,2016-01-01 01:17:04,8,-73.992653,40.768719,-74.041374,40.729954,N,104,1.733333,0.028889

In [128]:
# Ye line DataFrame df mein un rows ko select karti hai jahan 
# 'passenger_count' 7 ya us se zyada hai aur 'trip_duration' 200 se kam hai.

df.loc[
    (df['passenger_count'] >= 7) & (df['trip_duration'] < 200)
]

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,trip_duration_mins,trip_duration_hrs
433304,id3280610,2,2016-06-07 10:06:24,2016-06-07 10:06:43,7,-74.173668,40.737274,-74.173660,40.737297,N,19,0.316667,0.005278
489613,id0506488,2,2016-05-08 22:39:08,2016-05-08 22:39:23,7,-74.039482,40.715031,-74.039482,40.715019,N,15,0.250000,0.004167
824904,id0988237,2,2016-04-23 19:46:08,2016-04-23 19:46:33,7,-73.631149,40.768551,-73.631149,40.768551,N,25,0.416667,0.006944
826064,id1488553,2,2016-01-01 01:15:20,2016-01-01 01:17:04,8,-73.992653,40.768719,-74.041374,40.729954,N,104,1.733333,0.028889

In [130]:
# ye upper wale ka ulat hai - tilda ~ istemal howa hai 

df.loc[
    ~((df['passenger_count'] >= 7) & (df['trip_duration'] < 200))
]

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,trip_duration_mins,trip_duration_hrs
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455,7.583333,0.126389
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663,11.050000,0.184167
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,2124,35.400000,0.590000
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,N,429,7.150000,0.119167
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,N,435,7.250000,0.120833
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1458639,id2376096,2,2016-04-08 13:31:04,2016-04-08 13:44:02,4,-73.982201,40.745522,-73.994911,40.740170,N,778,12.966667,0.216111
1458640,id1049543,1,2016-01-10 07:35:15,2016-01-10 07:46:10,1,-74.000946,40.747379,-73.970184,40.796547,N,655,10.916667,0.181944
1458641,id2304944,2,2016-04-22 06:57:41,2016-04-22 07:10:25,1,-73.959129,40.768799,-74.004433,40.707371,N,764,12.733333,0.212222
1458642,id2714485,1,2016-01-05 15:56:26,2016-01-05 16:02:39,1,-73.982079,40.749062,-73.974632,40.757107,N,373,6.216667,0.103611
1458643,id1209952,1,2016-04-05 14:44:25,2016-04-05 14:47:43,1,-73.979538,40.781750,-73.972809,40.790585,N,198,3.300000,0.055000