In [104]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/nyc-taxi-trip-duration/train.zip
/kaggle/input/nyc-taxi-trip-duration/test.zip
/kaggle/input/nyc-taxi-trip-duration/sample_submission.zip

In [105]:
from pathlib import Path
from zipfile import ZipFile

In [106]:
from functools import lru_cache

def extract_zip_data(path):
    """
    Extract zipfiles into output directory
    """
    output_path = Path('/kaggle/working/') / 'raw'
    output_path.mkdir(parents=True, exist_ok=True)
    with ZipFile(file=path) as f:
        f.extractall(path=output_path)

In [107]:
extract_zip_data("/kaggle/input/nyc-taxi-trip-duration/train.zip")

In [108]:
extract_zip_data("/kaggle/input/nyc-taxi-trip-duration/test.zip")

In [109]:
df = pd.read_csv('/kaggle/working/raw/train.csv')

In [110]:
# pehlay 5 rows 

df.head()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,2124
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,N,429
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,N,435

In [111]:
# iss ko app override ker saktay hain agar app ko ziada columns chahiyue

pd.set_option('display.max_columns', 500)

In [112]:
df.head(10)

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,2124
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,N,429
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,N,435
5,id0801584,2,2016-01-30 22:01:40,2016-01-30 22:09:03,6,-73.982857,40.742195,-73.992081,40.749184,N,443
6,id1813257,1,2016-06-17 22:34:59,2016-06-17 22:40:40,4,-73.969017,40.757839,-73.957405,40.765896,N,341
7,id1324603,2,2016-05-21 07:54:58,2016-05-21 08:20:49,1,-73.969276,40.797779,-73.922470,40.760559,N,1551
8,id1301050,1,2016-05-27 23:12:23,2016-05-27 23:16:38,1,-73.999481,40.738400,-73.985786,40.732815,N,255
9,id0012891,2,2016-03-10 21:45:01,2016-03-10 22:05:26,1,-73.981049,40.744339,-73.973000,40.789989,N,1225

In [113]:
df.tail(10)

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
1458634,id3445276,1,2016-04-03 13:51:25,2016-04-03 14:07:37,2,-73.989075,40.730465,-73.963882,40.773739,N,972
1458635,id3027038,2,2016-05-19 14:46:55,2016-05-19 14:50:52,1,-73.985390,40.763020,-73.989708,40.767502,N,237
1458636,id0405770,2,2016-02-12 10:13:06,2016-02-12 10:26:26,1,-73.863815,40.769684,-73.864395,40.761326,N,800
1458637,id1920898,1,2016-04-17 18:48:16,2016-04-17 19:00:56,1,-73.975357,40.751705,-73.949478,40.776764,N,760
1458638,id1454193,2,2016-02-02 00:39:39,2016-02-02 00:46:33,5,-73.988823,40.736553,-73.989166,40.757393,N,414
1458639,id2376096,2,2016-04-08 13:31:04,2016-04-08 13:44:02,4,-73.982201,40.745522,-73.994911,40.740170,N,778
1458640,id1049543,1,2016-01-10 07:35:15,2016-01-10 07:46:10,1,-74.000946,40.747379,-73.970184,40.796547,N,655
1458641,id2304944,2,2016-04-22 06:57:41,2016-04-22 07:10:25,1,-73.959129,40.768799,-74.004433,40.707371,N,764
1458642,id2714485,1,2016-01-05 15:56:26,2016-01-05 16:02:39,1,-73.982079,40.749062,-73.974632,40.757107,N,373
1458643,id1209952,1,2016-04-05 14:44:25,2016-04-05 14:47:43,1,-73.979538,40.781750,-73.972809,40.790585,N,198

In [114]:
df.sample(10)

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
107903,id1986163,1,2016-04-12 08:12:27,2016-04-12 08:30:21,1,-73.988800,40.756077,-73.972427,40.761929,N,1074
934054,id1367917,1,2016-03-30 08:07:05,2016-03-30 08:17:27,1,-73.951149,40.770573,-73.978516,40.746880,N,622
993873,id1957964,1,2016-04-02 21:46:19,2016-04-02 22:08:19,1,-73.967422,40.771725,-74.006577,40.731892,N,1320
1152579,id3231930,2,2016-05-02 11:27:42,2016-05-02 11:45:35,1,-73.992088,40.754318,-73.962486,40.778709,N,1073
1213485,id0747013,2,2016-02-28 03:25:05,2016-02-28 03:41:01,2,-74.009018,40.710831,-74.000076,40.626080,N,956
684254,id2076613,1,2016-06-09 14:20:45,2016-06-09 14:48:55,1,-73.991196,40.745380,-73.975220,40.763985,Y,1690
36805,id2316385,1,2016-02-14 20:56:25,2016-02-14 21:00:15,1,-73.987289,40.721066,-73.993835,40.720387,N,230
354320,id2396960,1,2016-03-01 14:02:43,2016-03-01 14:07:57,1,-73.952934,40.783356,-73.958801,40.775150,N,314
1395499,id3914452,1,2016-03-16 19:11:48,2016-03-16 20:25:37,1,-73.984131,40.770058,-73.783096,40.648846,N,4429
236834,id2463522,1,2016-02-23 17:35:26,2016-02-23 17:54:09,1,-74.004051,40.747585,-73.979187,40.766834,N,1123

In [115]:
# reproducibility

df.sample(frac=0.1, random_state=42)

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
67250,id2793718,2,2016-06-08 07:36:19,2016-06-08 07:53:39,1,-73.985611,40.735943,-73.980331,40.760468,N,1040
1397036,id3485529,2,2016-04-03 12:58:11,2016-04-03 13:11:58,1,-73.978394,40.764351,-73.991623,40.749859,N,827
1021087,id1816614,2,2016-06-05 02:49:13,2016-06-05 02:59:27,5,-73.989059,40.744389,-73.973381,40.748692,N,614
951424,id1050851,2,2016-05-05 17:18:27,2016-05-05 17:32:54,2,-73.990326,40.731136,-73.991264,40.748917,N,867
707882,id0140657,1,2016-05-12 17:43:38,2016-05-12 19:06:25,4,-73.789497,40.646675,-73.987137,40.759232,N,4967
...,...,...,...,...,...,...,...,...,...,...,...
208216,id1391889,1,2016-05-29 17:54:19,2016-05-29 18:11:05,2,-73.982521,40.686272,-73.963135,40.688450,N,1006
526279,id1344809,2,2016-06-01 20:00:54,2016-06-01 20:07:29,1,-73.976257,40.757584,-73.973244,40.764671,N,395
80354,id2468889,1,2016-05-14 15:35:54,2016-05-14 15:48:53,3,-73.982079,40.763584,-73.985001,40.739193,N,779
328645,id1590350,2,2016-05-31 20:27:27,2016-05-31 21:06:31,3,-73.782654,40.644440,-73.991669,40.749641,N,2344
657429,id2069199,1,2016-03-21 17:44:38,2016-03-21 17:51:11,1,-73.979637,40.751862,-73.974945,40.758297,N,393

In [116]:
df.columns

Index(['id', 'vendor_id', 'pickup_datetime', 'dropoff_datetime',
       'passenger_count', 'pickup_longitude', 'pickup_latitude',
       'dropoff_longitude', 'dropoff_latitude', 'store_and_fwd_flag',
       'trip_duration'],
      dtype='object')

In [117]:
df.index

RangeIndex(start=0, stop=1458644, step=1)

In [118]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1458644 entries, 0 to 1458643
Data columns (total 11 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   id                  1458644 non-null  object
 1   vendor_id           1458644 non-null  int64
 2   pickup_datetime     1458644 non-null  object
 3   dropoff_datetime    1458644 non-null  object
 4   passenger_count     1458644 non-null  int64
 5   pickup_longitude    1458644 non-null  float64
 6   pickup_latitude     1458644 non-null  float64
 7   dropoff_longitude   1458644 non-null  float64
 8   dropoff_latitude    1458644 non-null  float64
 9   store_and_fwd_flag  1458644 non-null  object
 10  trip_duration       1458644 non-null  int64
dtypes: float64(4), int64(3), object(4)
memory usage: 122.4+ MB

In [119]:
df.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1458644 entries, 0 to 1458643
Columns: 11 entries, id to trip_duration
dtypes: float64(4), int64(3), object(4)
memory usage: 122.4+ MB

In [120]:
# descriptive statistics

df.describe()

,vendor_id,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,trip_duration
count,1.458644e+06,1.458644e+06,1.458644e+06,1.458644e+06,1.458644e+06,1.458644e+06,1.458644e+06
mean,1.534950e+00,1.664530e+00,-7.397349e+01,4.075092e+01,-7.397342e+01,4.075180e+01,9.594923e+02
std,4.987772e-01,1.314242e+00,7.090186e-02,3.288119e-02,7.064327e-02,3.589056e-02,5.237432e+03
min,1.000000e+00,0.000000e+00,-1.219333e+02,3.435970e+01,-1.219333e+02,3.218114e+01,1.000000e+00
25%,1.000000e+00,1.000000e+00,-7.399187e+01,4.073735e+01,-7.399133e+01,4.073588e+01,3.970000e+02
50%,2.000000e+00,1.000000e+00,-7.398174e+01,4.075410e+01,-7.397975e+01,4.075452e+01,6.620000e+02
75%,2.000000e+00,2.000000e+00,-7.396733e+01,4.076836e+01,-7.396301e+01,4.076981e+01,1.075000e+03
max,2.000000e+00,9.000000e+00,-6.133553e+01,5.188108e+01,-6.133553e+01,4.392103e+01,3.526282e+06

In [121]:
df[['passenger_count']].describe()

       passenger_count
count     1.458644e+06
mean      1.664530e+00
std       1.314242e+00
min       0.000000e+00
25%       1.000000e+00
50%       1.000000e+00
75%       2.000000e+00
max       9.000000e+00

In [122]:
# describe non numeric columsn ko bhi handle ker sakta hai 

df[['store_and_fwd_flag']].describe()

       store_and_fwd_flag
count             1458644
unique                  2
top                     N
freq              1450599

In [123]:
1458644 - 1450599

8045

In [124]:
df[['store_and_fwd_flag']].value_counts()

store_and_fwd_flag
N                     1450599
Y                        8045
Name: count, dtype: int64

In [125]:
df.shape, len(df)

((1458644, 11), 1458644)

In [126]:
# Subsetting columns

df[['passenger_count', 'pickup_longitude', 'pickup_latitude']]

         passenger_count  pickup_longitude  pickup_latitude
0                      1        -73.982155        40.767937
1                      1        -73.980415        40.738564
2                      1        -73.979027        40.763939
3                      1        -74.010040        40.719971
4                      1        -73.973053        40.793209
...                  ...               ...              ...
1458639                4        -73.982201        40.745522
1458640                1        -74.000946        40.747379
1458641                1        -73.959129        40.768799
1458642                1        -73.982079        40.749062
1458643                1        -73.979538        40.781750

[1458644 rows x 3 columns]

In [127]:
# slicing

df.columns[:5]

Index(['id', 'vendor_id', 'pickup_datetime', 'dropoff_datetime',
       'passenger_count'],
      dtype='object')

In [128]:
# subsetting using boolean indexing 

df[df.columns[5:]]

,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
0,-73.982155,40.767937,-73.964630,40.765602,N,455
1,-73.980415,40.738564,-73.999481,40.731152,N,663
2,-73.979027,40.763939,-74.005333,40.710087,N,2124
3,-74.010040,40.719971,-74.012268,40.706718,N,429
4,-73.973053,40.793209,-73.972923,40.782520,N,435
...,...,...,...,...,...,...
1458639,-73.982201,40.745522,-73.994911,40.740170,N,778
1458640,-74.000946,40.747379,-73.970184,40.796547,N,655
1458641,-73.959129,40.768799,-74.004433,40.707371,N,764
1458642,-73.982079,40.749062,-73.974632,40.757107,N,373
1458643,-73.979538,40.781750,-73.972809,40.790585,N,198

In [129]:
# filtering column ka naam jis mein text 'pickup hai'

df[[col for col in df.columns if 'pickup' in col]]

             pickup_datetime  pickup_longitude  pickup_latitude
0        2016-03-14 17:24:55        -73.982155        40.767937
1        2016-06-12 00:43:35        -73.980415        40.738564
2        2016-01-19 11:35:24        -73.979027        40.763939
3        2016-04-06 19:32:31        -74.010040        40.719971
4        2016-03-26 13:30:55        -73.973053        40.793209
...                      ...               ...              ...
1458639  2016-04-08 13:31:04        -73.982201        40.745522
1458640  2016-01-10 07:35:15        -74.000946        40.747379
1458641  2016-04-22 06:57:41        -73.959129        40.768799
1458642  2016-01-05 15:56:26        -73.982079        40.749062
1458643  2016-04-05 14:44:25        -73.979538        40.781750

[1458644 rows x 3 columns]

In [130]:
# filter columns based on float wale columns

df.select_dtypes('float')

,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude
0,-73.982155,40.767937,-73.964630,40.765602
1,-73.980415,40.738564,-73.999481,40.731152
2,-73.979027,40.763939,-74.005333,40.710087
3,-74.010040,40.719971,-74.012268,40.706718
4,-73.973053,40.793209,-73.972923,40.782520
...,...,...,...,...
1458639,-73.982201,40.745522,-73.994911,40.740170
1458640,-74.000946,40.747379,-73.970184,40.796547
1458641,-73.959129,40.768799,-74.004433,40.707371
1458642,-73.982079,40.749062,-73.974632,40.757107
1458643,-73.979538,40.781750,-73.972809,40.790585

In [131]:
# return a column as a series

df['pickup_longitude']

0         -73.982155
1         -73.980415
2         -73.979027
3         -74.010040
4         -73.973053
             ...
1458639   -73.982201
1458640   -74.000946
1458641   -73.959129
1458642   -73.982079
1458643   -73.979538
Name: pickup_longitude, Length: 1458644, dtype: float64

In [132]:
type(df['pickup_longitude'])

pandas.core.series.Series

In [133]:
# return a column as a dataframe

df[['pickup_longitude']]

         pickup_longitude
0              -73.982155
1              -73.980415
2              -73.979027
3              -74.010040
4              -73.973053
...                   ...
1458639        -73.982201
1458640        -74.000946
1458641        -73.959129
1458642        -73.982079
1458643        -73.979538

[1458644 rows x 1 columns]

In [134]:
type(df[['pickup_longitude']])

pandas.core.frame.DataFrame

In [168]:
# filtering data based on rows


# filtering based on location - iloc and loc

# iloc used index location and loc uses the names
df.loc[:, 'pickup_longitude']

0         -73.982155
1         -73.980415
2         -73.979027
3         -74.010040
4         -73.973053
             ...
1458639   -73.982201
1458640   -74.000946
1458641   -73.959129
1458642   -73.982079
1458643   -73.979538
Name: pickup_longitude, Length: 1458644, dtype: float64

In [169]:
df.head()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,duration_in_minutes,duration_in_hours
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455,7.583333,0.126389
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663,11.050000,0.184167
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,2124,35.400000,0.590000
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,N,429,7.150000,0.119167
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,N,435,7.250000,0.120833

In [170]:
# iloc based on indexing 

# pehli row may 3 columns ka data

df.iloc[1,3]

'2016-06-12 00:54:38'

In [171]:
# iloc kay sath app slicing bhi use ker sakte hai 

# subset based on first 3 rows and first 3 columns
df.iloc[:3, :3]

          id  vendor_id      pickup_datetime
0  id2875421          2  2016-03-14 17:24:55
1  id2377394          1  2016-06-12 00:43:35
2  id3858529          2  2016-01-19 11:35:24

In [172]:
# single value will return a series

df.iloc[6]

id                               id1813257
vendor_id                                1
pickup_datetime        2016-06-17 22:34:59
dropoff_datetime       2016-06-17 22:40:40
passenger_count                          4
pickup_longitude                -73.969017
pickup_latitude                  40.757839
dropoff_longitude               -73.957405
dropoff_latitude                 40.765896
store_and_fwd_flag                       N
trip_duration                          341
duration_in_minutes               5.683333
duration_in_hours                 0.094722
Name: 6, dtype: object

In [173]:
type(df.iloc[6])

pandas.core.series.Series

In [174]:
# as a dataframe

df.iloc[[6]]

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,duration_in_minutes,duration_in_hours
6,id1813257,1,2016-06-17 22:34:59,2016-06-17 22:40:40,4,-73.969017,40.757839,-73.957405,40.765896,N,341,5.683333,0.094722

In [175]:
df.iloc[:, [3, 5]]

            dropoff_datetime  pickup_longitude
0        2016-03-14 17:32:30        -73.982155
1        2016-06-12 00:54:38        -73.980415
2        2016-01-19 12:10:48        -73.979027
3        2016-04-06 19:39:40        -74.010040
4        2016-03-26 13:38:10        -73.973053
...                      ...               ...
1458639  2016-04-08 13:44:02        -73.982201
1458640  2016-01-10 07:46:10        -74.000946
1458641  2016-04-22 07:10:25        -73.959129
1458642  2016-01-05 16:02:39        -73.982079
1458643  2016-04-05 14:47:43        -73.979538

[1458644 rows x 2 columns]

In [176]:
# Exact same thing with loc 

df.loc[:, ['dropoff_datetime', 'pickup_longitude']]

            dropoff_datetime  pickup_longitude
0        2016-03-14 17:32:30        -73.982155
1        2016-06-12 00:54:38        -73.980415
2        2016-01-19 12:10:48        -73.979027
3        2016-04-06 19:39:40        -74.010040
4        2016-03-26 13:38:10        -73.973053
...                      ...               ...
1458639  2016-04-08 13:44:02        -73.982201
1458640  2016-01-10 07:46:10        -74.000946
1458641  2016-04-22 07:10:25        -73.959129
1458642  2016-01-05 16:02:39        -73.982079
1458643  2016-04-05 14:47:43        -73.979538

[1458644 rows x 2 columns]

In [177]:
df['trip_duration'].describe()['max']

3526282.0

In [178]:
# why is loc powerful because we can use boolean expressions in loc

df[df['trip_duration'] > 500]

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,duration_in_minutes,duration_in_hours
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663,11.050000,0.184167
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,2124,35.400000,0.590000
7,id1324603,2,2016-05-21 07:54:58,2016-05-21 08:20:49,1,-73.969276,40.797779,-73.922470,40.760559,N,1551,25.850000,0.430833
9,id0012891,2,2016-03-10 21:45:01,2016-03-10 22:05:26,1,-73.981049,40.744339,-73.973000,40.789989,N,1225,20.416667,0.340278
10,id1436371,2,2016-05-10 22:08:41,2016-05-10 22:29:55,1,-73.982651,40.763840,-74.002228,40.732990,N,1274,21.233333,0.353889
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1458636,id0405770,2,2016-02-12 10:13:06,2016-02-12 10:26:26,1,-73.863815,40.769684,-73.864395,40.761326,N,800,13.333333,0.222222
1458637,id1920898,1,2016-04-17 18:48:16,2016-04-17 19:00:56,1,-73.975357,40.751705,-73.949478,40.776764,N,760,12.666667,0.211111
1458639,id2376096,2,2016-04-08 13:31:04,2016-04-08 13:44:02,4,-73.982201,40.745522,-73.994911,40.740170,N,778,12.966667,0.216111
1458640,id1049543,1,2016-01-10 07:35:15,2016-01-10 07:46:10,1,-74.000946,40.747379,-73.970184,40.796547,N,655,10.916667,0.181944
1458641,id2304944,2,2016-04-22 06:57:41,2016-04-22 07:10:25,1,-73.959129,40.768799,-74.004433,40.707371,N,764,12.733333,0.212222

In [179]:
df['duration_in_minutes'] = df['trip_duration'] / 60
df['duration_in_hours'] = df['trip_duration'] / 60 / 60

In [140]:
df.columns

Index(['id', 'vendor_id', 'pickup_datetime', 'dropoff_datetime',
       'passenger_count', 'pickup_longitude', 'pickup_latitude',
       'dropoff_longitude', 'dropoff_latitude', 'store_and_fwd_flag',
       'trip_duration', 'duration_in_minutes', 'duration_in_hours'],
      dtype='object')

In [141]:
df.head()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,duration_in_minutes,duration_in_hours
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455,7.583333,0.126389
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663,11.050000,0.184167
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,2124,35.400000,0.590000
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,N,429,7.150000,0.119167
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,N,435,7.250000,0.120833

In [144]:
df['duration_in_hours'].max()

979.5227777777778

In [152]:
df.loc[df['duration_in_hours'] > 100]

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,duration_in_minutes,duration_in_hours
355003,id1864733,1,2016-01-05 00:19:42,2016-01-27 11:08:38,1,-73.789650,40.643559,-73.956810,40.773087,N,1939736,32328.933333,538.815556
680594,id0369307,1,2016-02-13 22:38:00,2016-03-08 15:57:38,2,-73.921677,40.735252,-73.984749,40.759979,N,2049578,34159.633333,569.327222
924150,id1325766,1,2016-01-05 06:14:15,2016-01-31 01:01:07,1,-73.983788,40.742325,-73.985489,40.727676,N,2227612,37126.866667,618.781111
978383,id0053347,1,2016-02-13 22:46:52,2016-03-25 18:18:14,1,-73.783905,40.648632,-73.978271,40.750202,N,3526282,58771.366667,979.522778

In [153]:
df.loc[
    (df['duration_in_hours'] > 100) &
    (df['passenger_count'] > 1)
]

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,duration_in_minutes,duration_in_hours
680594,id0369307,1,2016-02-13 22:38:00,2016-03-08 15:57:38,2,-73.921677,40.735252,-73.984749,40.759979,N,2049578,34159.633333,569.327222

In [161]:
# boolean indexing 
# tilda 

df.loc[~(
 (df['duration_in_hours'] < 900) &
    (df['passenger_count'] >= 1)
)]

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,duration_in_minutes,duration_in_hours
62744,id3917283,2,2016-06-06 16:39:09,2016-06-07 16:30:50,0,-73.776367,40.645248,-73.776360,40.645260,N,85901,1431.683333,23.861389
136519,id3645383,2,2016-01-01 05:01:32,2016-01-01 05:01:36,0,-73.993134,40.757473,-73.993294,40.757538,N,4,0.066667,0.001111
194288,id2840829,2,2016-02-21 01:33:52,2016-02-21 01:36:27,0,-73.946243,40.772903,-73.946770,40.774841,N,155,2.583333,0.043056
217765,id3762593,1,2016-01-04 12:24:17,2016-01-04 13:01:48,0,-73.815224,40.700081,-73.950699,40.755222,N,2251,37.516667,0.625278
263809,id2154895,1,2016-05-23 23:37:37,2016-05-23 23:37:45,0,-73.861633,40.705029,-73.861633,40.705029,N,8,0.133333,0.002222
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1371117,id3378693,1,2016-05-15 15:31:07,2016-05-15 15:31:13,0,-73.783173,40.643848,-73.783173,40.643848,N,6,0.100000,0.001667
1414111,id2684721,2,2016-04-01 14:42:10,2016-04-01 14:42:58,0,-73.981316,40.746635,-73.981651,40.746811,N,48,0.800000,0.013333
1433427,id3485118,1,2016-05-11 19:15:57,2016-05-11 19:32:18,0,-73.987572,40.754566,-73.972031,40.762836,N,981,16.350000,0.272500
1443353,id0355830,1,2016-03-05 05:33:52,2016-03-05 05:34:27,0,-73.991791,40.731197,-73.993408,40.729328,N,35,0.583333,0.009722
1444936,id1175754,2,2016-05-14 00:25:33,2016-05-14 00:25:37,0,-73.904610,40.753483,-73.904602,40.753456,N,4,0.066667,0.001111

In [165]:
# query method 

df.query('(passenger_count > 7)' )

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,duration_in_minutes,duration_in_hours
436047,id2489742,2,2016-06-24 08:09:21,2016-06-24 08:18:41,9,-73.710632,40.671581,-73.710632,40.671581,N,560,9.333333,0.155556
826064,id1488553,2,2016-01-01 01:15:20,2016-01-01 01:17:04,8,-73.992653,40.768719,-74.041374,40.729954,N,104,1.733333,0.028889

In [166]:
df.query('(passenger_count > 7) & (trip_duration < 200)' )

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,duration_in_minutes,duration_in_hours
826064,id1488553,2,2016-01-01 01:15:20,2016-01-01 01:17:04,8,-73.992653,40.768719,-74.041374,40.729954,N,104,1.733333,0.028889

In [181]:
# variable and string

p_count = 7
df.query('(passenger_count > @p_count) & (store_and_fwd_flag == "N")' )

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,duration_in_minutes,duration_in_hours
436047,id2489742,2,2016-06-24 08:09:21,2016-06-24 08:18:41,9,-73.710632,40.671581,-73.710632,40.671581,N,560,9.333333,0.155556
826064,id1488553,2,2016-01-01 01:15:20,2016-01-01 01:17:04,8,-73.992653,40.768719,-74.041374,40.729954,N,104,1.733333,0.028889

In [182]:
# Summarization of data 

df['passenger_count'].mean()

1.6645295219395548

In [183]:
df['passenger_count'].max()

9

In [184]:
df['passenger_count'].min()

0

In [185]:
df['passenger_count'].std()

1.3142421678231164

In [186]:
df['passenger_count'].count()

1458644

In [187]:
df['passenger_count'].var()

1.7272324756844046

In [188]:
df['passenger_count'].sum()

2427956

In [191]:
df['passenger_count'].quantile(0.5)
df['passenger_count'].quantile([0.25, 0.75])

0.25    1.0
0.75    2.0
Name: passenger_count, dtype: float64

In [192]:
df.columns

Index(['id', 'vendor_id', 'pickup_datetime', 'dropoff_datetime',
       'passenger_count', 'pickup_longitude', 'pickup_latitude',
       'dropoff_longitude', 'dropoff_latitude', 'store_and_fwd_flag',
       'trip_duration', 'duration_in_minutes', 'duration_in_hours'],
      dtype='object')

In [193]:
# multiple statistics on columns using aggregate function
df[['trip_duration', 'duration_in_minutes', 'duration_in_hours']].agg(['mean', 'std', 'min', 'max'])

      trip_duration  duration_in_minutes  duration_in_hours
mean   9.594923e+02            15.991538           0.266526
std    5.237432e+03            87.290529           1.454842
min    1.000000e+00             0.016667           0.000278
max    3.526282e+06         58771.366667         979.522778

In [194]:
# multiple statistics on columns using aggregate function and dictionary
df[['trip_duration', 'duration_in_minutes', 'duration_in_hours']].agg({
    'duration_in_minutes': ['min', 'max'],
    'duration_in_hours': [ 'std', 'var']
})

     duration_in_minutes  duration_in_hours
min             0.016667                NaN
max         58771.366667                NaN
std                  NaN           1.454842
var                  NaN           2.116566

In [195]:
# summarizing using unique function 

df['store_and_fwd_flag'].unique()

array(['N', 'Y'], dtype=object)

In [196]:
df['store_and_fwd_flag'].nunique()

2

In [197]:
df['store_and_fwd_flag'].value_counts()

store_and_fwd_flag
N    1450599
Y       8045
Name: count, dtype: int64

In [201]:
# using normalize gives a Fractional value 

df['vendor_id'].value_counts(normalize=True)

vendor_id
2    0.53495
1    0.46505
Name: proportion, dtype: float64

In [205]:
type(df['store_and_fwd_flag'].value_counts())

pandas.core.series.Series

In [204]:
# reset index user kernay say hume dataframe mil jata hai

df['passenger_count'].value_counts().reset_index()

   passenger_count    count
0                1  1033540
1                2   210318
2                5    78088
3                3    59896
4                6    48333
5                4    28404
6                0       60
7                7        3
8                9        1
9                8        1